.slider {
    width: 100%;
    height: 100%;

    .circular-slider {
        width: 100%;
        height: 100%;

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;

            @media (max-width: 1000px) {
                flex-direction: column;
            }

            .slides-holder {
                border-radius: 50%;
                border: 2px solid #8EB8E5;
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;
                z-index: 100;

                .slide_gesture_wrapper {
                    position: absolute;
                    top: 30%;
                    left: 9%;
                    transform: translate(-50%, -50%);
                    animation: tilt 2s infinite alternate ease-in-out;

                    @media (max-width: 1000px) {
                        top: 13%;
                        left: 43%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }

                @keyframes tilt {

                    0%,
                    100% {
                        transform: rotate(0deg);
                    }

                    50% {
                        transform: rotate(9deg);
                    }
                }



            }

            .descriptions {
                color: white;
                display: flex;
                align-items: center;
                width: 50%;
                padding-left: 10rem;
                text-align: left;
                position: relative;

                @media (max-width:1270px) {
                    padding-left: 6rem;
                }

                @media (max-width: 1000px) {
                    width: 100%;
                    height: 50%;
                    padding-left: 0;
                }


                h1,
                h2 {
                    transition: opacity 0.5s ease-in-out;
                }

                .descriptions__item {
                    position: absolute;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;
                    visibility: hidden;
                    pointer-events: none;
                    /* 비활성 슬라이드 클릭 방지 */

                    &_visible {
                        visibility: visible;
                        opacity: 1;
                        pointer-events: auto;
                        /* 활성 슬라이드 클릭 허용 */
                    }

                    .ddabong {
                        background-image: linear-gradient(90deg, rgba(247,180,1,1) 0%, rgba(244,207,108,1) 50%, rgba(237,237,237,1) 100%);
                    }

                    .jobtalks {
                        background-image: linear-gradient(90deg, rgba(227, 210, 103, 1) 0%, rgba(226, 158, 87, 1) 31%, rgba(225, 100, 68, 1) 59%, rgba(193, 84, 61, 1) 99%);
                    }

                    .itty {
                        background-image: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(24, 144, 255, 1) 100%);
                    }

                    .codebridge {
                        background-image: linear-gradient(90deg, rgba(8, 169, 211, 1) 0%, rgba(193, 84, 61, 1) 100%);
                    }

                    .travlemaker {
                        background-image: linear-gradient(90deg, rgb(114, 61, 158) 0%, rgba(110, 82, 194, 1) 48%, rgb(189, 185, 226) 100%);
                    }

                    .javaburger {
                        background-image: linear-gradient(90deg, rgba(249, 185, 57, 1) 0%, rgba(228, 190, 112, 1) 50%, rgb(223, 122, 102) 99%);
                    }

                    h1 {
                        font-size: 8rem;
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        font-weight: 700;


                        @media (max-width:1580px) {
                            font-size: 7rem;
                        }

                        @media (max-width:1270px) {
                            font-size: 6rem;
                        }
                    }

                    h2 {
                        font-size: 4rem;
                        margin-bottom: 1.5rem;
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        font-weight: 600;

                        @media (max-width:1580px) {
                            font-size: 3rem;
                        }

                        @media (max-width:1270px) {
                            font-size: 2.5rem;
                        }
                    }

                    @media(max-width: 1000px) {
                        margin-top: 7rem;
                    }

                    .tech_stacks_wrapper {
                        display: flex;
                        gap: 15px;
                        margin-bottom: 1.5rem;

                        .tech_stack {
                            padding: 0.4rem 1.2rem;
                            color: rgb(10, 205, 206);
                            font-size: 1rem;
                            border: 0.2rem solid rgba(10, 205, 206, 0.25);
                            border-radius: 10rem;
                        }
                    }

                    .detail_btn_wrapper {
                        margin-top: 2rem;

                        .detail_btn {
                            width: 300px;
                            height: 50px;
                            border: 2px solid white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 10px;
                            font-size: 1.5rem;
                            cursor: pointer;

                        }
                    }
                }

                .descriptions__item_mobile {
                    position: absolute;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;
                    visibility: hidden;
                    pointer-events: none;
                    display: flex;
                    /* 비활성 슬라이드 클릭 방지 */

                    width: 100%;
                    justify-content: space-evenly;

                    &_visible {
                        visibility: visible;
                        opacity: 1;
                        pointer-events: auto;
                        /* 활성 슬라이드 클릭 허용 */
                    }

                    @media (max-width: 600px) {
                        flex-direction: column;
                        padding-left: 2rem;
                    }

                    .jobtalks {
                        background-image: linear-gradient(90deg, rgba(227, 210, 103, 1) 0%, rgba(226, 158, 87, 1) 31%, rgba(225, 100, 68, 1) 59%, rgba(193, 84, 61, 1) 99%);
                    }

                    .itty {
                        background-image: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(24, 144, 255, 1) 100%);
                    }

                    .codebridge {
                        background-image: linear-gradient(90deg, rgba(8, 169, 211, 1) 0%, rgba(193, 84, 61, 1) 100%);
                    }

                    .travlemaker {
                        background-image: linear-gradient(90deg, rgb(114, 61, 158) 0%, rgba(110, 82, 194, 1) 48%, rgb(189, 185, 226) 100%);
                    }

                    .javaburger {
                        background-image: linear-gradient(90deg, rgba(249, 185, 57, 1) 0%, rgba(228, 190, 112, 1) 50%, rgb(223, 122, 102) 99%);
                    }

                    .description_mobile_leftwrapper {

                        @media (max-width: 600px) {
                            width: 80%;
                        }

                        h1 {
                            font-size: 8rem;
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                            font-weight: 700;


                            @media (max-width:1580px) {
                                font-size: 7rem;
                            }

                            @media (max-width:1270px) {
                                font-size: 6rem;
                            }

                            @media (max-width: 880px) {
                                font-size: 5rem;
                            }

                            @media(max-width: 600px) {
                                font-size: 3rem;
                            }
                        }

                        h2 {
                            font-size: 4rem;
                            margin-bottom: 1.5rem;
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                            font-weight: 600;

                            @media (max-width:1580px) {
                                font-size: 3rem;
                            }

                            @media (max-width:1270px) {
                                font-size: 2.5rem;
                            }

                            @media (max-width: 880px) {
                                font-size: 2rem;
                            }

                            @media(max-width: 600px) {
                                font-size: 1.5rem;
                            }
                        }
                    }



                    @media(max-width: 1000px) {
                        margin-top: 7rem;
                    }


                    .description_mobile_rightwrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @media (max-width: 730px) {
                            width: 40%;
                        }

                        @media (max-width: 600px) {
                            display: none;
                        }

                        .tech_stacks_wrapper {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            // grid-template-columns: auto auto;
                            gap: 15px;
                            margin-bottom: 1.5rem;

                            @media (max-width: 730px) {
                                grid-template-columns: repeat(2, 1fr);
                            }

                            .tech_stack {
                                padding: 0.4rem 1.2rem;
                                color: rgb(10, 205, 206);
                                font-size: 1rem;
                                border: 0.2rem solid rgba(10, 205, 206, 0.25);
                                border-radius: 10rem;
                                text-align: center;
                            }
                        }

                        .detail_btn_wrapper {
                            margin-top: 2rem;

                            @media (max-width: 880px) {
                                margin-top: 0;
                            }

                            .detail_btn {
                                // width: 300px;
                                width: 100%;
                                height: 50px;
                                border: 2px solid white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 10px;
                                font-size: 1.5rem;
                                cursor: pointer;

                                @media (max-width: 880px) {
                                    height: 45px;
                                }

                            }
                        }

                    }

                    .detail_btn_wrapper_mobile {
                        display: none;
                        margin-top: 2rem;

                        @media (max-width: 600px) {
                            display: block;
                            width: 120px;
                        }

                        .detail_btn {
                            // width: 300px;
                            width: 100%;
                            height: 50px;
                            border: 2px solid white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 10px;
                            font-size: 1.5rem;
                            cursor: pointer;

                            @media (max-width: 880px) {
                                height: 45px;
                            }

                            @media (max-width: 600px) {
                                font-size: 1.2rem;
                                height: 40px;
                            }

                        }
                    }

                }


            }

            .slides_wrapper {
                width: 50%;
                position: relative;
                overflow: hidden;

                @media (max-width: 1000px) {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: center;
                }

                .slides-holder {
                    position: absolute;
                    bottom: -30%;
                    right: -30%;
                    // bottom: -175px;
                    // right: -226px;

                    @media (max-width: 1000px) {
                        bottom: -35%;
                        right: 0;
                        position: relative;
                    }

                    .slides-holder__item {
                        // width: 60px;
                        // height: 60px;
                        // max-width: 200px;
                        // max-height: 200px;
                        width: 30%;
                        height: 30%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 999;
                        border: 3px solid white;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            img {
                                width: 83%;
                                height: 83%;
                            }
                        }

                        img {
                            width: 90%;
                            height: 90%;
                            cursor: grab;
                            transition: all 0.3s ease;
                            // touch-action: none;
                        }
                    }

                }

                .slide_center_wrapper {
                    position: absolute;
                    bottom: 113px;
                    right: 35px;
                    // width: 400px;
                    // height: 400px;

                    width: 30%;
                    height: 30%;

                    img {
                        width: 100%;
                        height: 100%;
                    }


                }
            }

        }
    }
}