.modal_main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    top: 30px;
    color: white;
    text-align: left;


    .modal_main_box {
        width: 750px;
        height: 90%;
        background-color: #27272c;
        border-radius: 15px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #81a7bf;
            border-radius: 10px;
            background-clip: padding-box;
            border: 2px solid transparent;
        }

        // &::-webkit-scrollbar-track {
        //     background-color: var(--scroll-color);
        //     border-radius: 10px;
        //     box-shadow: inset 0px 0px 5px white;
        // }

        .close_btn_box {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;

            img {
                width: 20px;
            }
        }

        .modal_title_box {

            h5 {
                font-size: 3rem;
                font-weight: 600;
            }
        }

        .modal_banner_box {
            width: 100%;
            height: 255px;
            margin-top: 1.5rem;
            margin-bottom: 1rem;


            .banner_img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

        }

        .modal_detail_link_box {
            width: 100%;
            height: 50px;
            background-color: #333;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-weight: 500;
                padding: 10px;
                border-radius: 10px;
                background-color: #333; 
            }
        }



        .modal_detail_wrapper,
        .modal_what_do_warpper {
            margin-top: 1.5rem;

            h6 {
                font-size: 28px;
                font-weight: 500;
                margin-left: 12px;
            }

            .modal_detail_box,
            .modal_what_do_box {
                margin-top: 1rem;
                line-height: 2rem;

                .small_title {
                    font-size: 22px;
                    font-weight: 500;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }



    }

}